
/* Grid Properties */
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto 7%;
    grid-gap: 5px;
}

.item-header {
    grid-row: 1 / 2;
    width: 100%;
    display: grid;
    grid-template-columns: 6% auto 6%;
    background-color: lightcyan;
}

#header-item-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#header-item-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.item-middle {
    height: 100%;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 7% auto;
    grid-gap: 10px;
}

.middle-item-bar {
    height: 100%;
    grid-column: span 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5% auto 5%;
    background-color: lightgreen;
}

#left-arrow {
    height: 100%;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#right-arrow {
    height: 100%;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#middle-item-log {
    grid-column: 2 / 3;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 10% auto;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 25px;
}

#log-title {
    grid-row: 1 / 2;
}

#log-text-area {
    grid-row: 2 / 3;
}

#middle-item-notes {
    grid-column: 1 / 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 10% auto;
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 5px;
}

#notes-title {
    grid-row: 1 / 2;
}

#notes-text-area {
    grid-row: 2 / 3;
}

#middle-item-media {
    grid-column: 3 / 4;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 10% auto;
    background-color: rgb(252, 183, 156);
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 5px;
}

#media-title {
    grid-row: 1 / 2;
}

#media-text-area {
    grid-row: 2 / 3;
}

.item-footer {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: lightpink;
}

#task-event-selector-area {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

#task-event-selector, select {
    font-family: 'Roboto', sans-serif; 
    font-size: 24px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

#task-event-textbox-area {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

#task-event-textbox {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    height: 60%;
    border: 1px solid transparent;
    border-radius: 10px;
}

#clock-tags-upload-area {
    grid-column: 3 / 4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#clock-tags-upload-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#clock-form {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#clock-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tags-selector {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

#upload-img {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}

/* Other Components */
body {
    height: 100%;
    margin: 0;
}

.main-title {
    font-family: 'Sen', 'sans-serif';
    text-align: center;
}

#date-text {
    height: 100%;
    grid-column: 2 / 3;
    font-family: 'Sen', 'sans-serif';
    text-align: center;
}

#popup-clock {
    display: flex;
    width: 14%;
    height: 15%;
    position: fixed;
    bottom: 9%; 
    right: 9%;
    background-color: rgba(166, 239, 255, 0.551);
}

#popup-clock label {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
}

#time-selector {
    display: flex;
    flex-direction: column;
    
}

#start-time {
    flex: 1
}

#end-time {
    flex: 1
}

#clock-submit-button {
    flex: 1
    
}